@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --font-sora: "Sora", sans-serif;
    --font-code: "Source Code Pro", monospace;
    --font-grotesk: "Space Grotesk", sans-serif;
    color-scheme: dark;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    body {
        @apply font-sans bg-gray-50 text-gray-950 text-base;
    }
}
